{% extends 'base.html' %}


{% block content %}
  <h4>Welcome, {{ user.username }}!</h4>
  <div class="row">
    <div class="col-md-10">
      <h5>Start Interview</h5>

      <form id="interview-form">
        {% csrf_token %}
        <button type="button" class="btn btn-primary" id="start-button">Start Recording</button>
        <button type="button" class="btn btn-danger" id="stop-button" disabled>Stop Recording</button>
      </form>
      <hr>
      <h5>Speech-to-Text Result</h5>
      <textarea class="form-control" id="result" rows="5" readonly></textarea>
      <h5>Standard Suggestion</h5>
      <textarea class="form-control" id="response" rows="5" readonly></textarea>
      <h5>Customize Suggestion</h5>
      <textarea class="form-control" id="response_user" rows="5" readonly></textarea>
    </div>

    <div class="col-md-6">
    </div>
  </div>

    <script>
        // Get the start and stop buttons
        var startButton = document.getElementById("start-button");
        var stopButton = document.getElementById("stop-button");

        // Add event listeners to the buttons
        startButton.addEventListener("click", startRecording);
        stopButton.addEventListener("click", stopRecording);

        var final_transcript = '';
        var recognizing = false;
        var recognition = new webkitSpeechRecognition();
        recognition.continuous = true;
        recognition.interimResults = true;
        recognition.lang = 'en-US';

        recognition.onstart = function() {
            recognizing = true;
        };

        recognition.onerror = function(event) {
            console.error(event.error);
        };


        recognition.onend = function() {
            recognizing = false;
        };

        recognition.onresult = function(event) {
            var interim_transcript = '';
            for (var i = event.resultIndex; i < event.results.length; ++i) {
                if (event.results[i].isFinal) {
                    final_transcript += event.results[i][0].transcript;
                    document.getElementById('result').value = final_transcript;
                } else {
                    interim_transcript += event.results[i][0].transcript;
                    document.getElementById('result').value = interim_transcript
                    searchPrompt(interim_transcript);
                }

            }
        };

        function startRecording() {
            if (recognizing) {
                recognition.stop();
                return;
            }
            final_transcript = '';
            document.getElementById('result').value = 'Recording...';
            document.getElementById("stop-button").disabled = false;

            recognition.start();
        }

        function searchPrompt(transcript) {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              // The server has responded with a response.
              // You can use the response to update the UI or perform other actions.
              var responseTextArea = document.getElementById("response");
              var response = JSON.parse(this.responseText)
              responseTextArea.value += response.response;
              var responseTextAreaUser = document.getElementById("response_user");
              responseTextAreaUser.value += response.response_user;
            }
          };
          var csrftoken = getCookie('csrftoken');
          xhttp.open("POST", "/search_prompt/", true);
          xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          xhttp.setRequestHeader("X-CSRFToken", csrftoken);
          xhttp.send("transcript=" + transcript);
        }


        function stopRecording() {
            recognition.stop();
            document.getElementById("stop-button").disabled = true;
            document.getElementById("start-button").disabled = false;
            console.log('Recording stopped');
        }


        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock %}

